---
title: Openplant Automation Protocols
section: python_intro
---
{% include header.html %}

            <div class="right-col">
            
                <h1>Tutorials</h1>
                
                <p>
                    This is the landing page for Tutorials involving automation on the OT2. Here we should link to:
                </p> 
                <ul>
                    <li>Our selection of our own tutorials</li>
                    <li>Some of Opentrons' tutorials</li>
                    <li>Other useful links that might be useful for beginners</li>
                </ul>

            </div>

{% include footer.html %}
