---
title: Openplant Automation Protocols
section: protocol
---
{% include header.html %}

            <div class="right-col">
                <h1>Example Automation Protocol</h1>

                <p><i>OPPy000</i> <b>v1.0</b> by <i>Felipe Xavier Buson</i></p>
                <p>A protocol for OT2 version XXXX with API version XXXX</p>
                <img src="{{site.baseurl}}/images/Time.svg"><p style="display:inline; margin-left:5px">2h 30'</p>
                <p><b>Tag_1</b>, <b>Tag_2</b>, <b>Tag_3</b>, <b>Tag_4</b></p>
                <a href="#">PDF</a>
                
                <h3>Description</h3>
                <p>
                    This is an overall description of the protocol. It will explain the gerenal objective of the protocol and some of the information that should be front-loaded.
                    Possibly this will also involve attaching some links to other sections in this page.
                </p>

                <h3>Materials</h3>
                <p><i>with links to labware pages when needed</i></p>
                <ul>
                    <li>OT2 version</li>
                    <li>Pipettes</li>
                    <li>Labware item 1</li>
                    <li>Labware item 2</li>
                    <li>Labware item 3</li>
                    <li>Liquid 1</li>
                    <li>Liquid 2</li>
                    <li>Liquid 3</li>
                </ul>
                <img src="{{site.baseurl}}/images/Deck_map.png", style="width: 50%">
            </div>
{% include footer.html %}